.burger-input-container {
	margin: 20px;
}
.eat-burger {
	margin-right: 10px;
}
.submit-burger {
	margin: 0 auto;
}
.rating-form {
	/*display: none;*/
}
.container {
	margin: 15px;
}

/*making sticky footer*/
.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.Site-content {
	flex: 1;
}
